    /*criar variáveis*/
    :root{
    --azul:rgb(0, 183, 255);
    --azul-dark: rgb(0, 37, 51);
    --verde: rgb(4, 252, 4);
    --verde-dark:  rgb(3, 190, 3);
    --verde-transparente: rgba(0, 255, 0, 0.24);
    --azul-transparente: rgba(0, 183, 255, 0.37);
    --branco: white;
    --amarelo: yellow;
    --laranja: #f7b755;
    --laranja-dark:#dd8705;
    }

    *{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    }
    html, body{
    overflow-x: hidden;
    }
    body{
    background: linear-gradient(to bottom right, var(--amarelo),var(--verde)) fixed;
    }

    a{
    text-decoration: inherit;
    }

    a:link, a:visited {
    text-decoration: none;
    text-align: right;
    color: inherit;
    }


    header{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    }
    header figure{
    background: var(--azul);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 4px solid white;
    max-width: auto;
    max-height: auto;
    border-radius: 10px;
    }
    header img{
    border-radius: 50%;
    }
    header figcaption{
    font-weight: 900;
    }
    header h1, h3{
    font-size: 0.9rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 1px 1px var(--laranja-dark);
    color: var(--branco);
    font-weight: 900;
    }
    .section-01{
    padding: 10px;
    background: linear-gradient(to top right,var(--amarelo),var(--azul));
    border-top: 10px solid var(--azul);
    border-bottom: 10px solid var(--verde);
    }
    .titulo{
    font-size: 6rem;
    color: var(--azul-dark);
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
    }
    .sobre-empresa{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    }
    .sobre-empresa figcaption{
    padding: 10px;
    color: var(--azul-dark);
    background-color: rgba(255, 255, 255, 0.473);
    max-width: 20px auto;
    border-radius: 20px;
    }
    .sobre-empresa img{
    width: 150px;
    margin: 20px;
    background: var(--branco);
    filter: drop-shadow(0px 2px 5px var(--azul));
    border-radius: 50%;
    }
    button{
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    background: linear-gradient(to top left, var(--verde), var(--azul));
    margin: 10px auto;
    font-family: 'Oswald', sans-serif;
    border-radius: 15px;
    text-align: center;
    color: var(--branco);
    border: 4px solid var(--branco);
    text-transform: uppercase;
    }
    button:hover{
    scale: 1.08;
    filter: drop-shadow(1px 1px 8px var(--verde-dark));
    transition: 0.5s;
    cursor: pointer;
    background: var(--azul-dark);
    }
    .cursos{ /*seção para os cursos*/
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--azul-dark);
    }

    .cursos h1{
    color: aliceblue;
    font-size: 6rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    padding: 4px;
    filter: drop-shadow(0px 0px 6px var(--verde));
    }
    .cursos img{
    margin: 15px;
    width: 100px;
    filter: drop-shadow(1px 1px 12px var(--verde));
    }
    .cursos figure{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }
    .curso-figcaption{
    margin: 20px;
    font-size: 1rem;
    padding: 20px;
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.671);;
    border-bottom: 10px solid var(--amarelo);
    border-top: 10px solid var(--azul);
    border-left: 10px solid var(--verde);
    border-right: 10px solid var(--branco);
    border-radius: 20px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    }
    .cursos figcaption span{
    font-size: 3rem;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Oswald', sans-serif;
    text-shadow: 4px 1px 0px var(--azul);
    color: var(--branco);
    font-weight: 900;
    }
    footer{
    background: linear-gradient(to bottom left,var(--verde-dark), var(--azul));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    }
    footer h2{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: var(--branco);
    font-weight: 800;
    font-size: 2rem;
    }
    footer figure{
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1rem;
    }
    footer figure img{
    width: 60px;
    filter: drop-shadow(1px 2px 10px var(--branco));
    }
    footer figure img:hover{
    scale: 1.3;
    transition: 0.8s;
    }
    footer figcaption{
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: var(--branco);
    font-weight: 900;
    text-align: center;
    text-decoration: underline;
    }

    @media(orientation: portrait){
    .titulo{
    font-size: 3.5rem;
    }
    .cursos h1{
    font-size: 4rem;
    }

    .cursos figcaption span{
    font-size: 2rem;
    }

    .curso-figcaption{
    width: auto;
    font-size: 1rem;
    }
    button:hover{
    scale: none;
    filter: none;
    transition: none;
    background: linear-gradient(to top left, var(--verde), var(--azul));
    }
    footer figure img:hover{
    scale: none;
    transition: none;
    }
    }
    @media(orientation:landscape) and (min-width: 750px) and (max-width:1000px) {
    .curso-figcaption{
    width: auto;
    }

    }

    @media(orientation:landscape) and (max-width: 1024px){
    button:hover{
    scale: none;
    filter: none;
    transition: none;
    cursor: inherit;
    background: linear-gradient(to top left, var(--verde), var(--azul));
    }
    footer figure img:hover{
    scale: none;
    transition: none;
    background: none;
    }
    }